.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.nasaPicOfTheDay {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.roverPhoto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}
.roverPhotoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.nasaContainer {
  text-align: center;
  padding: 20px;
}

.roverPhoto {
  flex-basis: 30%;
  max-width: 300px;
  text-align: center;
}
